@import "~materialize-css/dist/css/materialize.min.css";
@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

body {
  background-image: url("img/background.jpg");
  background-size: cover;
  font-family: 'Domine', serif;
}

.title, h2 {
  background-color: #1178ff70;
  padding: 10px;
}

p {
  font-size: 20px;
}

input {
  display: block;
  margin: 0px 20px;
}

input.yellow-input {
  border-bottom: 1px solid #fff!important;
  box-shadow: 0 1px 0 0 #fff!important;
}

input.yellow-input + label {
  color: #ffffff!important;
}

input.yellow-input:focus + label {
  color: #ffeb3b!important;
}

input.yellow-input:focus {
  border-bottom: 1px solid #ffeb3b!important;
  box-shadow: 0 1px 0 0 #ffeb3b!important;
}

.shorten {
  padding: 30px 0px 30px;
}